body{
    background-color: #154360;
    margin: 0;
    padding: 7px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

/*container-data contiene a: song-data, play-music, icon*/
.container-data{
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.song-data{
    border: 0.1px solid white;
    width: 40%;
    display: flex;
    flex-direction: column;
}

.play-music{
    border: 0.1px solid white;
    width: 30%;
}

.icon{
    border: 0.1px solid white;
    width: 30%;
}
/*Finaliza container-data*/


/*container-playlist contiene a: table-playlist, table-playlist-custom*/
.container-playlist{
    background-color: #2980B9;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.table-playlist{
    width: 50%;
    text-align: center;
}

.table-playlist-custom{
    text-align: center;
    width: 50%;
}

tbody{
    background-color: #154360;
}

tr{
    text-align: center;
}

th, td{
    width: 25%;
}

th{
    font-size: 14px;
    color: white;
}

td{
    font-size: 12px;
    color: white;
}
/*Finaliza container-data*/

/*Inicia imagenes*/
.imageSize{
    width: 120px;
}

.profile-picture{
    width: 100px;
}
/*Termina imagenes*/

/*Inicia etiqueta texto*/
h2{
    font-size: 26px;
    color: white;
}
/*Termina etiqueta texto*/

/*Inicia button*/
button{
    width: 60px;
    height: 30px;
    text-align: center;
    font-size: 12px;
    margin-top: 80%;
    background: none;
    color: black;
    border: 2px solid #AED6F1;
    border-radius: 5px;
    background-color: #AED6F1;
}

button:hover{
    background-color: #008CBA;
    border: 2px solid #008CBA;
    color: white;
}
/*Finaliza button*/